a {
    color: gold;
}

a:hover {
    color: gold;
}

.btn-common {
    background-color: gold;
}

.btn-border:hover {
    background-color: gold;
}

.controls .active {
    color: gold !important;
    border-color: gold;
}

.bg-defult {
    background: gold!important;
}

#carousel-area .carousel-control-next i,
#carousel-area .carousel-control-prev i {
    background: gold;
}

.section-header .section-title:before {
    background: gold;
}

.overlay {
    background: gold;
}

.bg-white .navbar-nav .active {
    color: gold!important;
}

.menu-bg .navbar-nav .active {
    color: gold!important;
}

.menu-bg .navbar-nav .nav-link:hover {
    color: gold!important;
}

.navbar-expand-md .navbar-nav .active>.nav-link,
.navbar-expand-md .navbar-nav .nav-link.active,
.navbar-expand-md .navbar-nav .nav-link.active::before,
.navbar-expand-md .navbar-nav .nav-link.open,
.navbar-expand-md .navbar-nav .open>.nav-link {
    color: gold;
}

.navbar-expand-md .navbar-nav .nav-link:focus,
.navbar-expand-md .navbar-nav .nav-link:hover,
.navbar-expand-md .navbar-nav .nav-link:hover:before {
    color: gold;
}

.navbar-expand-md .navbar-nav .nav-link:before {
    background: gold;
}

.menu-bg .logo-menu a,
.menu-bg .menu-button:hover {
    color: gold;
}

.menu-wrap .navbar-nav li .active,
.menu-wrap .navbar-nav li .active::before {
    color: gold;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
    color: gold;
}

.icon-list a::before {
    background: gold;
}

#about .box-item .icon i {
    color: gold;
}

.item-boxes .icon {
    border-color: gold;
}

.item-boxes .icon i {
    color: gold;
}

.featured-box .featured-icon i {
    color: gold;
}

.controls .mixitup-control-active {
    color: gold!important;
    border-color: gold;
}

.testimonial-item .author .author-info h2 a:hover {
    color: gold;
}

.testimonial-item .content-inner span {
    color: gold;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: gold;
}

#subscribe .sub-item-box .icon-box i {
    color: gold;
}

#blog .blog-item-text h3 a:hover {
    color: gold;
}

.meta-tags span a:hover {
    color: gold;
}

.form-control:focus {
    border: 1px solid gold
}

#contact:before {
    background: gold;
}

.contact-info i {
    color: gold;
}

.back-to-top i {
    background-color: gold;
}

.single-team .social-list li a {
    color: gold;
}

.footer-social li a {
    background: gold;
}

footer .menu li a:hover {
    color: gold;
}

.contact-footer li span a:hover {
    color: gold;
}

.toggle-map {
    background-color: gold;
}

.toggle-map .map-icon {
    border-color: gold;
}

.counter-item .icon i {
    color: gold;
}

#google-map {
    border-color: gold;
}

#subscribe form input:focus {
    border-color: gold;
}

#copyright p a:hover {
    color: gold;
}

#copyright .nav-inline .nav-link:hover {
    color: gold;
}